# URL base de tu API backend
VITE_API_BASE_URL=https://localhost:7116

# En produccion, apunta a Railway
# VITE_API_BASE_URL=https://zetatestapi-test-production.up.railway.app/

# Endpoint de login (relativo a VITE_API_BASE_URL)
VITE_AUTH_LOGIN_ENDPOINT=/auth/login

# URL de tu Hub de SignalR en backend
VITE_SIGNALR_HUB_URL=https://localhost:5001/chathub

# Opcional: personaliza nombres si tu Hub usa otros metodos/eventos
VITE_SIGNALR_JOIN_METHOD=JoinRoom
VITE_SIGNALR_SEND_METHOD=SendMessage
VITE_SIGNALR_RECEIVE_EVENT=ReceiveMessage
